// @import "../../assets/styles/mixins";
// @import "../../assets/styles/variables";

@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.customSelect {
  position: relative;
  background-color: var(--select-bgc-color);
  height: 68px;
  display: flex;
  align-items: center;
  color: var(--font-color);
  width: 100%;
  @include comforta(500);

  border: 1px solid transparent;
  box-sizing: border-box;

  &:hover {
    border-color: var(--border-hover);
  }
}
.disabled {
  background-color: var(--disabled);
  color: var(--font-color);
}
.selectInput {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.selectedItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.text {
  flex-grow: 1 !important;
}
.arrow {
  margin-left: 10px;
}
// Стили для Крестика X
.cross {
  color: var(--font-color);
  font-weight: 800;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--select-bgc-color);
  text-decoration: none;
}
.dropdown ul {
  list-style-type: none;
  padding-left: 0;
}
.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  &.selected {
    background-color: var(--option-bgc);
    color: $black;
  }
}

/* Стили для маленького select */
.small {
  max-width: 300px;
  min-width: 250px;
  font-size: 18px;
  height: 38px;
}

/* Стили для большого select */
.large {
  max-width: 450px;
  min-width: 400px;
  font-size: 28px;
}

.option:hover {
  background-color: var(--option-bgc);
  color: $black;
  opacity: 0.8;
}

.modal {
  z-index: 1000;
  background-color: $light-gray;
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal .selectInput {
  cursor: pointer;
  background-color: $white;
}
.modal .dropdown {
  margin-top: -20px;

  width: 93%;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
