//Цвета
$white: #fff;
$black: #000000;
$light-gray: rgba(163, 203, 233, 0.807);
//Белая тема
:root {
  --font-color: #35414a;
  --disabled: #86919a;
  --border-hover: #276bff;
  --option-bgc: rgba(90, 175, 238, 0.5);
  --select-bgc-color: #fff;
  --bgc: #35414a;
  --font-h2: #fff;
  --cross-color: #5385ab;
}

//Черная тема
[data-theme="dark"] {
  --font-color: #fff;
  --disabled: #a7a2a2;
  --border-hover: #4b8cff;
  --option-bgc: #5aafee;
  --select-bgc-color: #485761;
  --bgc: #f7f7f7;
  --font-h2: #35414a;
  --cross-color: #a2e2e1f8;
}
